<!DOCTYPE HTML>

<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>

<%! import third_party_auth %>
<%! from third_party_auth import provider, pipeline %>

<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
%>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/static/themes/ninenone/css/main.css">
		<script type="text/javascript" src="/static/themes/ninenone/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/static/themes/ninenone/js/main.js"></script>
		<title>
		</title>
	</head>
	<body>
		<div id="wrapper">
			<div class="main-section">

				<div class="modal hidden">
					<div class="modal-center">
						<span class="modal-center-ask">Вы еще не закончили базовый курс. Предлагаем вам завершить обучение прежде, чем приступать к следующим курсам.</span>
						<a class="modal-basic-course" href="/courses/rosavtotrans/C1/2015_1/about">Базовый курс</a>
						<a class="modal-current-course" href=""></a>
					</div>
					<div class="burger-close">
						<span></span>
						<span></span>
					</div>
				</div>

				<div class="slider">
					<div class="slide slide-first">
						<div class="skin"></div>
						<div class="main-text">
							<span class="line-1">Планируете заняться мониторингом автоперевозок?</span>
							<span class="line-2">ВАМ ПОДОЙДЕТ КУРС</span>
							<a href="/courses/RosAvtoTrans/C5/2015_1/about" class="line-3">Консультанты</a>
						</div>
						<div class="main-footer">
							<a class="choose-course" href="#">ВЫБЕРИТЕ ПОДХОДЯЩИЙ КУРС<br/>ДЛЯ ОБУЧЕНИЯ ОНЛАЙН</a>
							<a class="next" href="#">Дальше</a>
						</div>
					</div>
					<div class="slide slide-second">
						<div class="skin"></div>
						<div class="main-text">
							<span class="line-1">Собираетесь заниматься перевозками опасных грузов? Получите необходимый набор базовых знаний.</span>
							<span class="line-2">ВАМ ПОДОЙДЕТ КУРС</span>
							<a href="/courses/rosavtotrans/C1/2015_1/about#" class="line-3">Базовый курс</a>
						</div>
						<div class="main-footer">
							<a class="choose-course" href="#">ВЫБЕРИТЕ ПОДХОДЯЩИЙ КУРС<br/>ДЛЯ ОБУЧЕНИЯ ОНЛАЙН</a>
							<a class="next" href="#">Дальше</a>
						</div>
					</div>
					<div class="slide slide-third">
						<div class="skin"></div>
						<div class="main-text">
							<span class="line-1">Хотите заняться перевозками нефтяных продуктов?</span>
							<span class="line-2">ВАМ ПОДОЙДЕТ КУРС</span>
							<a href="/courses/RosAvtoTrans/C3/2015_1/about" class="line-3">Цистерны</a>
						</div>
						<div class="main-footer">
							<a class="choose-course" href="#">ВЫБЕРИТЕ ПОДХОДЯЩИЙ КУРС<br/>ДЛЯ ОБУЧЕНИЯ ОНЛАЙН</a>
							<a class="next" href="#">Дальше</a>
						</div>
					</div>
				</div>
				<div class="header">
					<img class="apk-logo" src="/static/themes/ninenone/images/apkdopog.png">
			<!--		<a class="left-arrow" href="#">
						<svg>
							<polyline points="25,1 2,25 25,49" fill="none" stroke-width="2" stroke="rgb(255, 255, 255)"></polyline>
						</svg>
					</a>-->
					<div href="/accounts/login?next=/" class="menu-burger">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="person">
						<!-- <a href="#" class="exit">
							<img src="exit.png" class="exit-img">
						</a> -->
						<img src="/static/themes/ninenone/images/user_img.png" class="person-img show-img">
						<img src="/static/themes/ninenone/images/user_img.png" class="user-img">
						<div class="user-panel">
						<ul>
								%if not user.is_authenticated():
								<li>
			          					<a href="/auth/login/custom/?auth_entry=login&next=%2Fcourses%2F">войти</a>
								</li>
								%endif
								%if user.is_authenticated():
								<li>
									<a href="/courses">Курсы</a>
								</li>
								<li>
									<a href="/statistics">Моя успеваемость</a>
								</li>	
							        <!-- <li>
									<a href="#">Мой учебный план</a>
								</li>-->
								<li>
									<a href="/profile">Личный кабинет</a>
								</li>
								<li>
									<a href="${reverse('logout')}">Выйти</a>
								</li>
								%endif
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="rest-section">
				<div class="driver-courses">
					<span class="driver-title">Доступные для прохождения курсы:</span>
					% for course in courses:
					<div class="driver-course-wrapper">
						<a class="driver-course basic-course" href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
							<div class="bg-img"></div>
							<span class="course-title">${course.display_name_with_default}</span>
							<div class="course-logo">${course.display_name_with_default[0].upper()}</div>
							<span class="course-question">${get_course_about_section(course, 'short_description')}</span>
							<span class="course-description">Данный курс является обязательным для всех водителей.</span>
							<div class="course-tags">
								% for tag in course.tag_list:
								<span class="label fs-11">${tag}</span>
								% endfor
							</div>
						</a>
					</div>
					%endfor
				</div>
			</div>
		</div>
	</body>
</html>
