<!DOCTYPE HTML5>

<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%! from microsite_configuration.templatetags.microsite import platform_name %>  
<%! import third_party_auth %>
<%! from third_party_auth import provider, pipeline %>
<%!
from courseware.courses import course_image_url, get_course_about_section
from microsite_configuration import microsite 
%>
<%page args="course" /> 
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/static/themes/ninenone/css/main.css">
		<script type="text/javascript" src="/static/themes/ninenone/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/static/themes/ninenone/js/main.js"></script>
		<title>
		</title>
	</head>
	<body>
		<div id="wrapper">
			<div class="main-section exam" style="background-image: url('${course_image_url(course)}');" >
				<div class="skin"></div>
				<div class="modal hidden">
					<div class="modal-center">
						<span class="modal-center-ask">Вы еще не завершили обучение. Точно хотите попробовать пройти тест?</span>
						<a class="modal-test" href="test">Да</a>
						<a class="modal-methods" href="/">Закончить обучение</a>
					</div>
					<div class="burger-close">
						<span></span>
						<span></span>
					</div>
				</div>
				<div class="header">
					<img class="apk-logo" src="/static/themes/ninenone/images/apkdopog.png">
					<a class="left-arrow" href="/">
						<svg>
							<polyline points="25,1 2,25 25,49" fill="none" stroke-width="2" stroke="rgb(255, 255, 255)"></polyline>
						</svg>
					</a>
					<div class="menu-burger">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="person">
						<!-- <a href="#" class="exit">
							<img src="exit.png" class="exit-img">
						</a> -->
						<img src="/static/themes/ninenone/images/user_img.png" class="person-img show-img">
						<img src="/static/themes/ninenone/images/user_img.png" class="user-img">
						<div class="user-panel">
							<ul>
								%if not user.is_authenticated():
								<li>
			          					<a href="/auth/login/custom/?auth_entry=login&next=%2Fcourses%2F">войти</a>
								</li>
								%endif
								%if user.is_authenticated():
								<li>
									<a href="#">Курсы</a>
								</li>
								<li>
									<a href="/statistics">Моя успеваемость</a>
								</li>	
							        <!-- <li>
									<a href="#">Мой учебный план</a>
								</li>-->
								<li>
									<a href="/profile">Личный кабинет</a>
								</li>
								<li>
									<a href="${reverse('logout')}">Выйти</a>
								</li>
								%endif
							</ul>
						</div>
					</div>
				</div>
				<a class="main-course" href="">
					<span class="main-course-title">${get_course_about_section(course, "title")}</span>
					<span class="main-course-logo">Б</span>
					<span class="rest-course-desc">
${get_course_about_section(course, "short_description")}
<!--${course_image_url(course)}-->
                                        </span>
				</a>
				<a class="rest-course" href="info">
					<span class="rest-course-title">Методические<br/>материалы</span>
					<span class="rest-course-desc">Материалы для обучения по всему курсу.<br/>Разделены на темы и дополнены вопросами самоконтроля</span>
				</a>
				<a class="rest-course q-test" href="test">
					<span class="rest-course-title right">Имитация теста</span>
				</a>
			</div>
		</div>
	</body>
</html>
