<%!
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../admin_layout.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("Courses")}</%block>
<%
  platform_name = microsite.get_value('platform_name', settings.PLATFORM_NAME)

  if self.stanford_theme_enabled():
    course_index_overlay_text = _("Explore free courses from {university_name}.").format(university_name="Stanford University")
    logo_file = static.url('themes/stanford/images/seal.png')
    logo_alt_text = "Stanford Seal Logo"

  else:
    course_index_overlay_text = microsite.get_value('course_index_overlay_text', _("Explore courses from {platform_name}.").format(platform_name=platform_name))

    if settings.FEATURES.get('IS_EDX_DOMAIN', False):
      # For some reason, `static.url('images/edx-theme/edx-logo-bw.png')` breaks template rendering.
      default_image_url = settings.STATIC_URL + 'images/edx-theme/edx-logo-bw.png'
    else:
      default_image_url = settings.STATIC_URL + 'images/default-theme/logo-large.png'

    logo_file = microsite.get_value(
      'course_index_overlay_logo_file', default_image_url
    )

    logo_alt_text = _("{platform_name} Logo").format(platform_name=platform_name)
%>

<%!
  from itertools import izip_longest
  def grouper(n, iterable, fillvalue=None):
      "grouper(3, 'ABCDEFG', 'x') --> ABC DEF Gxx"
      args = [iter(iterable)] * n
      return izip_longest(fillvalue=fillvalue, *args)
%>

<%block name="jumbotron">
<div class="jumbotron " data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <p><a href="#" class="active">Курсы</a></p>
        </li>
        <li>Рекомендуемые курсы
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>

  </div>
</div>
</%block>

<section class="find-courses">

  % if len(courses) > 0:
      % for a,b in grouper(2,courses):
        <div class="row p-b-30">
          % if b is not None:
            % for course in [a,b]:
              <%include file="../course-admin.html" args="course=course" />
            % endfor
          % else:
            <%include file="../course-admin.html" args="course=a" />
          % endif
        </div>
      % endfor
  % else:
    <div class="empty-dashboard-message">
      <h2 class="text-center">Рекомендуемые курсы отсутствуют</h2>
    </div>
  % endif
</section>
