<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/themes/ninenone/css/main.css">
		<script type="text/javascript" src="/static/themes/ninenone/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/static/themes/ninenone/js/test.js?1283"></script>
		<title></title>
	</head>
	<body>
		<div id="wrapper">
			<div class="main-section test">
				<div class="skin test"></div>
				<div class="header">
					<img class="apk-logo" src="/static/themes/ninenone/images/apkdopog.png">
					<a class="left-arrow dark" href="#">
						<svg>
							<polyline points="25,1 2,25 25,49" fill="none" stroke-width="2"></polyline>
						</svg>
					</a>
					<div class="menu-burger dark">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<a href="#" class="person"></a>
				</div>
				<div class="course-info">
					<span class="course-info-title">Имитация экзамена по базовому курсу.</span>
					<span class="course-info-desc">Хороший способ проверить свои силы перед настоящим экзаменом. 25 вопросов и 40 минут времени. Мы выбираем вопросы по наиболее сложным для Вас темам, чтобы Вы лучше были готовы.</span>
					<span class="course-info-time">40:00</span>
					<div class="course-info-question-scale" id="course-info-question-scale"></div>
				</div>
				<div class="column-1">
					<span class="question-title">Вопрос</span>
					<span class="question-number">5</span>
					<span class="question-content">Каким документом установлен порядок перевозки опасных грузов автомобильным транспортом на территории Российской Федерации для собственных нужд?</span>
				</div>
				<div class="column-2">
					<span class="variants">Варианты ответа</span>
					<div class="question">
						<span class="question-number-variant">1</span>
						<span class="question-variant">Постановлением Правительства Российской Федерации от 23 апреля 1994 г. № 372 "О мерах по обеспечению безопасности при перевозке опасных грузов автомобильным транспортом"</span>
					</div>
					<div class="question">
						<span class="question-number-variant">2</span>
						<span class="question-variant">ПОГАТ</span>
					</div>
					<div class="question">
						<span class="question-number-variant">3</span>
						<span class="question-variant">Инструкцией по обеспечению безопасности перевозки опасных грузов автомобильным транспортом, утвержденной приказом МВД СССР от 23 сентября 1985 г. № 181</span>
					</div>
					<div>
					  <span class="button disabled" style="width:70%" id="submitAnswer">Ответить</span>
					  <span class="button disabled" style="width:25%;float:right;" id="send">Отправить</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
