p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

@font-face {
	font-family: Circe;
	src: url('../assets/fonts/Circe.otf');
}

* {
  font-family: Circe !important;
}

/* Reset icon fonts to their defaults after our override */

[class^="pg-"], [class*=" pg-"] {
  font-family: "pages-icon" !important;
}

.fa {
  font-family: FontAwesome !important;
}

.bg-pic {
  background-image: url('../assets/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg');
  background-size: cover;
  opacity: 0.6;
}

#logo-top-index {
  position: absolute;
  top: 50px;
  left: 40px;
}

#login-button {
  position: absolute;
  padding: 10px 20px;
  background: none;
  top: 65px;
  right: 40px;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #eee;
  border-radius: 7px;
}

#login-button > a, #login-button > a:hover {
  color: #fff
}

#login-button, #logo-top-index {
  z-index: 999;
  height: auto;
}

.login-container {
  background: rgba(255,255,255,0.7);
}

.login-close-button {
  color: #444;
  left: 20px;
  position: absolute;
  top: 20px;
}

.hidden {
  display: none
}

.bg-pic > .row {
  height: 50%
}

.col-6-md {
  border: 1px solid #fff
}

.half-height {
  height: 50%;
}

#course-2 {
  border-top: 1px solid #fff;
}

#course-3 {
  border-left: 1px solid #fff;
}

#course-4 {
  border-top: 1px solid #fff;
}

.row-grid-top {
  height: 65%
}

.row-grid-bottom {
  height: 35%
}

.course-pad {
  background-color: rgba(0,0,0,0.5);
  height: 0;
  overflow: hidden;
}

#video-cover {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Dashboard course list */

.widget-1::after {
  background-image: none;
}

.course-cover {
  width: 100%;
  opacity: 0.7
}

.hint-text > a {
  color: #fff
}
