<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
%>
<%page args="course" />
<div class="course-holder-inner">
<a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
  <div id="${course.id | h}" class="course-pad">

        <div class="course-info">
            <div class="course-number">${course.display_number_with_default | h}</div>
            <div class="course-title">${get_course_about_section(course, 'title')}</div>
        </div>

        <div class="course-desc">
          <p>${get_course_about_section(course, 'short_description')}</p>
        </div>

        <div class="course-org-info">
          <div class="course-org">${get_course_about_section(course, 'university')}</div>
          % if not course.start_date_is_still_default:
          <div class="start-date">${course.start_datetime_text()}</div>
          % endif
        </div>

  </div>
</a>
</div>
