<%! from django.utils.translation import ugettext as _ %>
<%! from django.template import RequestContext %>
<%! import third_party_auth %>
<%! from third_party_auth import pipeline %>
<%! from microsite_configuration import microsite %>

<%!
  from django.core.urlresolvers import reverse
%>

<%
  cert_name_short = settings.CERT_NAME_SHORT
  cert_name_long = settings.CERT_NAME_LONG
%>

<%!
  from itertools import izip_longest
  def grouper(n, iterable, fillvalue=None):
      "grouper(3, 'ABCDEFG', 'x') --> ABC DEF Gxx"
      args = [iter(iterable)] * n
      return izip_longest(fillvalue=fillvalue, *args)
%>


<%inherit file="admin_layout.html" />

<%namespace name='static' file='static_content.html'/>

<%block name="pagetitle">${_("Dashboard")}</%block>
<%block name="bodyclass">view-dashboard is-authenticated</%block>

<%block name="header_extras">
% for template_name in ["donation"]:
<script type="text/template" id="${template_name}-tpl">
  <%static:include path="dashboard/${template_name}.underscore" />
</script>
% endfor
</%block>

<%block name="js_extra">
  <%static:js group='dashboard'/>
  <script type="text/javascript">
    $(document).ready(function() {
      edx.dashboard.legacy.init({
        dashboard: "${reverse('dashboard')}",
        signInUser: "${reverse('signin_user')}",
        passwordReset: "${reverse('password_reset')}",
        changeEmail: "${reverse('change_email')}",
        changeEmailSettings: "${reverse('change_email_settings')}",
        changeName: "${reverse('change_name')}",
        verifyToggleBannerFailedOff: "${reverse('verify_student_toggle_failed_banner_off')}",
      });
    });
  </script>
</%block>

<!-- START JUMBOTRON -->
<div class="jumbotron " data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <p>Курсы</p>
        </li>
        <li><a href="#" class="active">Активные курсы</a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>

  </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <!-- START PAGE CONTENT -->
  <div class="container-fluid container-fixed-lg">
    % if len(course_enrollment_pairs) > 0:
        % for a,b in grouper(2,course_enrollment_pairs):
          <div class="row p-b-30">
            % if b is not UNDEFINED:
              % for course, enrollment in [a,b]:
                  <% show_courseware_link = (course.id in show_courseware_links_for) %>
                  <% cert_status = cert_statuses.get(course.id) %>
                  <% show_email_settings = (course.id in show_email_settings_for) %>
                  <% course_mode_info = all_course_modes.get(course.id) %>
                  <% show_refund_option = (course.id in show_refund_option_for) %>
                  <% is_paid_course = (course.id in enrolled_courses_either_paid) %>
                  <% is_course_blocked = (course.id in block_courses) %>
                  <% course_verification_status = verification_status_by_course.get(course.id, {}) %>
                  <% course_requirements = courses_requirements_not_met.get(course.id) %>
                  <%include file='dashboard/_dashboard_course_listing.html' args="course=course, enrollment=enrollment, show_courseware_link=show_courseware_link, cert_status=cert_status, show_email_settings=show_email_settings, course_mode_info=course_mode_info, show_refund_option = show_refund_option, is_paid_course = is_paid_course, is_course_blocked = is_course_blocked, verification_status=course_verification_status, course_requirements=course_requirements" />
              % endfor
            % else:
              <% course = a.key() %>
              <% enrollment = a.value() %>
              <% show_courseware_link = (course.id in show_courseware_links_for) %>
              <% cert_status = cert_statuses.get(course.id) %>
              <% show_email_settings = (course.id in show_email_settings_for) %>
              <% course_mode_info = all_course_modes.get(course.id) %>
              <% show_refund_option = (course.id in show_refund_option_for) %>
              <% is_paid_course = (course.id in enrolled_courses_either_paid) %>
              <% is_course_blocked = (course.id in block_courses) %>
              <% course_verification_status = verification_status_by_course.get(course.id, {}) %>
              <% course_requirements = courses_requirements_not_met.get(course.id) %>
            % endif
          </div>
        % endfor
    % else:
      <section class="empty-dashboard-message">
        % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
          <p>${_("Looks like you haven't enrolled in any courses yet.")}</p>
          <a href="${marketing_link('COURSES')}">
            ${_("Find courses now!")}
          </a>
        % else:
          <p>${_("Looks like you haven't enrolled in any courses yet.")}</p>
        %endif
      </section>
    % endif
  </div>
</div>

<!-- <div id="unenroll-form-modal" class="modal slide-up" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="unenrollment-modal-title">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_("Close")}
      </span>
    </button>

    <header>
      <h2 id="unenrollment-modal-title">
        <span id='track-info'></span>
        <span id='unenroll_course_number'></span>?
        <span id='refund-info'></span>
        <span class="sr">,
          ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
          ${_("window open")}
        </span>
      </h2>
      <hr/>
    </header>
    <div id="unenroll_error" class="modal-form-error"></div>
    <form id="unenroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <input name="course_id" id="unenroll_course_id" type="hidden" />
      <input name="enrollment_action" type="hidden" value="unenroll" />
      <div class="submit">
        <input name="submit" type="submit" value="${_("Unenroll")}" />
      </div>
    </form>
  </div>
</div> -->

<div aria-hidden="false" role="dialog" tabindex="-1" id="unenroll-form-modal" class="modal fade slide-up disable-scroll in">
  <div class="modal-dialog">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header clearfix text-center m-b-15">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button"><i class="pg-close fs-14"></i>
          </button>
          <span id='track-info'></span>
          <span id='unenroll_course_number'></span>?
          <span id='refund-info'></span>
        </div>
        <div class="modal-body text-center">
          <div id="unenroll_error" class="modal-form-error"></div>
          <form id="unenroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
            <input name="course_id" id="unenroll_course_id" type="hidden" />
            <input name="enrollment_action" type="hidden" value="unenroll" />
            <div class="submit">
              <input name="submit" class="btn btn-primary" type="submit" value="${_("Unenroll")}" />
            </div>
          </form>
        </div>
          <!-- <form role="form">
            <div class="form-group-attached">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Company Name</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8">
                  <div class="form-group form-group-default">
                    <label>Card Number</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group form-group-default">
                    <label>Card Holder</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-sm-8">
              <div class="p-t-20 clearfix p-l-10 p-r-10">
                <div class="pull-left">
                  <p class="bold font-montserrat text-uppercase">TOTAL</p>
                </div>
                <div class="pull-right">
                  <p class="bold font-montserrat text-uppercase">$20.00</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 m-t-10 sm-m-t-10">
              <button class="btn btn-primary btn-block m-t-5" type="button">Pay Now</button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>
