<%! from microsite_configuration import microsite %>
<%namespace name='static' file='static_content.html'/>
<%inherit file="main.html" />

<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%! import third_party_auth %>
<%! from third_party_auth import provider, pipeline %>

<%! from microsite_configuration.templatetags.microsite import platform_name %>

<%!
import branding
# app that handles site status messages
from status.status import get_site_status_msg
%>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  ## To display a welcome video, change False to True, and add a YouTube ID (11 chars, eg "123456789xX") in the following line
  show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', False)
  homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "your-youtube-id")

  show_partners = microsite.get_value('show_partners', True)

%>
<%block name="pages_header">
</%block>

<%block name="pagetitle">Главная страница</%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {

      // adding js class for styling with accessibility in mind
      $('body').addClass('js');

      // show forgot password modal UI if URL contains matching DOM ID
      if ($.deparam.fragment()['forgot-password-modal'] !== undefined) {
        $('.pwd-reset').click();
      }

      // new window/tab opening
      $('a[rel="external"], a[class="new-vp"]')
      .click( function() {
        window.open( $(this).attr('href') );
        return false;
      });

      // form field label styling on focus
      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").parent().addClass("is-focused");
      }).blur(function() {
        $("label").parent().removeClass("is-focused");
      });

      $("#email").focus();
    });

    (function() {
      toggleSubmitButton(true);

      $('#login-form').on('submit', function() {
        toggleSubmitButton(false);
      });

      $('#form-login').on('ajax:error', function(event, request, status_string) {
        toggleSubmitButton(true);

        if (request.status === 403) {
          $('.message.submission-error').removeClass('is-shown');
          $('.third-party-signin.message').addClass('is-shown').focus();
          $('.third-party-signin.message .instructions').html(request.responseText);
        } else {
          $('.third-party-signin.message').removeClass('is-shown');
          $('.message.submission-error').addClass('is-shown').focus();
          $('.message.submission-error').html(gettext("Your request could not be completed.  Please try again."));
        }
      });

      $('#form-login').on('ajax:success', function(event, json, xhr) {

        if(json.success) {
          var u=decodeURI(window.location.search);
          var next = u.split("next=")[1];
          if (next != undefined) {
            // if next is undefined, decodeURI returns "undefined" causing a bad redirect.
            next = decodeURIComponent(next);
          }
          if (next && !isExternal(next)) {
            location.href=next;
          }  else if(json.redirect_url){
            location.href=json.redirect_url;
          } else {
            location.href="${reverse('dashboard')}";
          }
        } else if(json.hasOwnProperty('redirect')) {
          var u=decodeURI(window.location.search);
          if (!isExternal(json.redirect)) { // a paranoid check.  Our server is the one providing json.redirect
              location.href=json.redirect+u;
          } // else we just remain on this page, which is fine since this particular path implies a login failure
            // that has been generated via packet tampering (json.redirect has been messed with).
        } else {
          toggleSubmitButton(true);
          $('.message.submission-error').addClass('is-shown').focus();
          $('.message.submission-error .message-copy').html(json.value);
        }
      });
      $("#forgot-password-link").click(function() {
        $("#forgot-password-modal").show();
        $("#forgot-password-modal .close-modal").focus();
      });

    })(this);

    function toggleSubmitButton(enable) {
      var $submitButton = $('form .form-actions #submit');

      if(enable) {
        $submitButton.
          removeClass('is-disabled').
          attr('aria-disabled', false).
          removeProp('disabled').
          html("${_('Log into My {platform_name} Account').format(platform_name=platform_name)} <span class='orn-plus'>+</span> ${_('Access My Courses')}");
      }
      else {
        $submitButton.
          addClass('is-disabled').
          prop('disabled', true).
          text("${_(u'Processing your account information')}");
      }
    }

    function thirdPartySignin(event, url) {
      event.preventDefault();
      window.location.href = url;
    }

    (function post_form_if_pipeline_running(pipeline_running) {
       // If the pipeline is running, the user has already authenticated via a
       // third-party provider. We want to invoke /login_ajax to loop in the
       // code that does logging and sets cookies on the request. It is most
       // consistent to do that by using the same mechanism that is used when
       // the use does first-party sign-in: POSTing the sign-in form.
       if (pipeline_running) {
         $('#form-login').submit();
       }
    })(${pipeline_running})
  </script>
</%block>

<div class="login-wrapper ">
  <!-- START Login Background Pic Wrapper-->
  <div id="logo-top-index">
    <img src="static/themes/ninenone/assets/img/logo.png" alt="logo"/>
  </div>
  <div id="login-button">
  % if third_party_auth.is_enabled():

  <div class="form-actions form-third-party-auth">

  % for enabled in provider.Registry.enabled():
    ## Translators: provider_name is the name of an external, third-party user authentication provider (like Google or LinkedIn).
    <button type="submit" class="btn btn-primary login-button-toggle button-${enabled.NAME} login-${enabled.NAME}" onclick="thirdPartySignin(event, '${pipeline_url[enabled.NAME]}');"><i class="fa ${enabled.ICON_CLASS}"></i>&nbsp;Войти</button>
  % endfor

  </div>

  % endif
  </div>

  <div class="bg-pic">
    <video id="video-cover" muted loop autoplay poster="">
      <source type="video/mp4" src="static/themes/ninenone/assets/aerial.mp4">
      <source type="video/webm" src="static/themes/ninenone/assets/aerial.webm">
    </video>
    <div class="row full-height">
      <div class="col-md-12 full-height">
        % if len(courses) > 3:
        <div class="row row-grid-top no-margin">
          <div class="col-md-6 full-height">
            <div id="course-1" class="row half-height course-holder">
              <%include file="course.html" args="course=courses[0]" />
            </div>
            <div id="course-2" class="row half-height course-holder">
              <%include file="course.html" args="course=courses[1]" />
            </div>
          </div>
          <div id="course-3" class="col-md-6 full-height no-padding course-holder">
            <%include file="course.html" args="course=courses[2]" />
          </div>
        </div>

        <div class="row row-grid-bottom">
          <div id="course-4" class="col-md-12 full-height course-holder">
            <%include file="course.html" args="course=courses[3]" />
          </div>
        </div>
        % else:
          &nbsp;
        % endif
      </div>
    </div>
  </div>
  <!-- END Login Background Pic Wrapper-->


<%block name="footer">
</%block>
