## mako
<%namespace name='static' file='/static_content.html'/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- BEGIN Vendor CSS-->
<link href="static/themes/ninenone/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
<link href="static/themes/ninenone/assets/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="static/themes/ninenone/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="static/themes/ninenone/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
<link href="static/themes/ninenone/assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen" />
<link href="static/themes/ninenone/assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
<!-- BEGIN Pages CSS-->
<link href="static/themes/ninenone/css/pages-icons.css" rel="stylesheet" type="text/css">
<link class="main-stylesheet" href="static/themes/ninenone/css/pages.css" rel="stylesheet" type="text/css" />
<link class="" href="static/themes/ninenone/css/pages.min.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 9]>
    <link href="static/themes/ninenone/css/ie9.css" rel="stylesheet" type="text/css" />
<![endif]-->

<script src="static/themes/ninenone/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
<!-- <script src="static/themes/ninenone/assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script> -->
<script src="static/themes/ninenone/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
<script src="static/themes/ninenone/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="static/themes/ninenone/assets/plugins/boostrapv3/js/bootstrap.min.js" type="text/javascript"></script>
<script src="static/themes/ninenone/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
<script src="static/themes/ninenone/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
<script src="static/themes/ninenone/assets/plugins/jquery-bez/jquery.bez.min.js"></script>
<script src="static/themes/ninenone/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
<script src="static/themes/ninenone/assets/plugins/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="static/themes/ninenone/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
<script src="static/themes/ninenone/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<!-- END VENDOR JS -->
<!-- BEGIN CORE TEMPLATE JS -->
<script src="static/themes/ninenone/js/pages.js" type="text/javascript"></script>
<!-- END CORE TEMPLATE JS -->
<!-- BEGIN PAGE LEVEL JS -->
<script src="static/themes/ninenone/assets/js/scripts.js" type="text/javascript"></script>
<!-- END PAGE LEVEL JS -->
