<%page args="course, enrollment, show_courseware_link, cert_status, show_email_settings, course_mode_info, show_refund_option, is_paid_course, is_course_blocked, verification_status, course_requirements" />

<%!
from django.utils.translation import ugettext as _
from django.utils.translation import ungettext
from django.core.urlresolvers import reverse
from markupsafe import escape
from courseware.courses import course_image_url, get_course_about_section
from student.helpers import (
  VERIFY_STATUS_NEED_TO_VERIFY,
  VERIFY_STATUS_SUBMITTED,
  VERIFY_STATUS_APPROVED,
  VERIFY_STATUS_MISSED_DEADLINE
)
%>

<%
  cert_name_short = course.cert_name_short
  if cert_name_short == "":
    cert_name_short = settings.CERT_NAME_SHORT

  cert_name_long = course.cert_name_long
  if cert_name_long == "":
    cert_name_long = settings.CERT_NAME_LONG
  billing_email = settings.PAYMENT_SUPPORT_EMAIL
%>

<%namespace name='static' file='../static_content.html'/>
<%
  course_target = reverse('info', args=[course.id.to_deprecated_string()])
%>
% if not is_course_blocked:
  <a href="${course_target}">
% else:
  <a class=blocked>
% endif
  <div class="col-md-6 col-xlg-6">
    <div class="ar-3-2 widget-1-wrapper">
      <div class="widget-1 panel no-border bg-complete no-margin widget-loader-circle-lg" data-cover-image="${course_image_url(course)}">
        <img src="${course_image_url(course)}" alt="" class="course-cover"/>
        <div class="panel-heading top-right ">
          <div class="panel-controls">
            <ul>
              <li><a href="#" class="portlet-refresh text-black" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh-lg-master"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="panel-body">
          <div class="pull-bottom bottom-left bottom-right ">
            <span class="label font-montserrat fs-11">NEWS</span>
            <br>
            <h2 class="text-white">${course.display_number_with_default | h} ${course.display_name_with_default}</h2>
            <p class="text-white hint-text">Learn More at Project Pages</p>
            <div class="row stock-rates m-t-15">
              <div class="company col-xs-4">
                <div>
                  <p class="font-montserrat text-success no-margin fs-16">
                    <i class="fa fa-caret-up"></i> +0.95%
                    <span class="font-arial text-white fs-12 hint-text m-l-5">546.45</span>
                  </p>
                  <p class="bold text-white no-margin fs-11 font-montserrat lh-normal">
                    AAPL
                  </p>
                </div>
              </div>
              <div class="company col-xs-4">
                <div>
                  <p class="font-montserrat text-danger no-margin fs-16">
                    <i class="fa fa-caret-up"></i> -0.34%
                    <span class="font-arial text-white fs-12 hint-text m-l-5">345.34</span>
                  </p>
                  <p class="bold text-white no-margin fs-11 font-montserrat lh-normal">
                    YAHW
                  </p>
                </div>
              </div>
              <div class="company col-xs-4">
                <div class="pull-right">
                  <p class="font-montserrat text-success no-margin fs-16">
                    <i class="fa fa-caret-up"></i> +0.95%
                    <span class="font-arial text-white fs-12 hint-text m-l-5">278.87</span>
                  </p>
                  <p class="bold text-white no-margin fs-11 font-montserrat lh-normal">
                    PAGES
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>

 <script>
           $( document ).ready(function() {

               if("${is_course_blocked}" == "True"){
                   $( "#unregister_block_course" ).click(function() {
                       $('.disable-look-unregister').click();
                   });
               }
           });
 </script>
